@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    min-height: 100vh;
    font-family: outfit;
    
}
*{
    scroll-behavior: smooth;
}

a{
    color: inherit;
}

/* .app{
    width: 80%;
    margin: auto;
} */