.header-content h2 {
    font-size: max(4.5vw, 22px);
}

.header-content p{
    color: white;
    font-size: 1vw;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}