.verify{
   width: 80%;
   margin:0 auto;
   margin-top: 6.5rem;
   min-height: 60vh;
   display: grid;
}
.verify .spinner{
    width: 150px;
    height: 150px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s infinite;


}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}